



<nav class="bg-gray-800 shadow-lg">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
            <!-- Logo -->
            <div class="flex-shrink-0 flex items-center">
                <a href="#" class="text-white text-lg font-semibold">Khall Health Hiring</a>
            </div>
            
            <!-- Navigation Links -->
            <div class="flex items-center">
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium my-auto">Home</a>
                <a routerLink="/about" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium my-auto">About</a>
                <a routerLink="/jobs" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium my-auto">Jobs</a>
                <a routerLink="/nurse-page" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium my-auto">Nurses</a>
                <!-- <a routerLink="/hospital-search" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium my-auto">Hospitals</a> -->
                <!-- <a routerLink="/application-search" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium my-auto">Applications</a> -->
                <!-- <a routerLink="/contact" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium my-auto">Contact</a> -->
            </div>
            
            <!-- Auth Links -->
            <div class="flex items-center">
                <a routerLink="/signIn" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Sign In</a>
                <a routerLink="/signUp" class="bg-white text-gray-800 px-4 py-2 rounded-md text-sm font-medium">Sign Up</a>
            </div>
        </div>
    </div>
</nav>



<!--
<nav class="container max-w-full flex justify-between items-center">
 
    <div class="py-6 text-color-secondary font bold text-3xl">
        <span class="text-color-white">TESTING</span>
    </div>
    
    <div> 
        <ul class="flex items-center space-x-28">
            <li>Nurses</li>
            <li>Hospitals</li>
            <li>etc</li>
            
            <button>Log in </button>
        </ul>
    </div>
    

    
</nav>



<nav class="container bg-blue-500">
    TESTING
</nav>

-->
